*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../background/Fitness_Blonde_girl_Workout_Dumbbells_Glance_550256_3840x2400.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

#title{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: whitesmoke;
}

